@page
@model ProjetGL.Pages.ResponsableDesResources.ViewBesionModel
@{
}


<h1>View validated Besion </h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Departement</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var besion in Model.Besions)
        {
            <tr>
                <td>@besion.Id</td>
                <td>@besion.Desc</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#details-@besion.Id">
                        View Details
                    </button>
                    <div id="details-@besion.Id" class="collapse">
                        <h5>Computers</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Brand</th>
                                    <th>CPU</th>
                                    <th>RAM</th>
                                    <th>Disk</th>
                                    <th>Screen</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ordinateur in besion.Ordinateurs)
                                {
                                    <tr>
                                        <td>@ordinateur.Marque</td>
                                        <td>@ordinateur.Cpu</td>
                                        <td>@ordinateur.Ram</td>
                                        <td>@ordinateur.Disque</td>
                                        <td>@ordinateur.Ecran</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <h5>Printers</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Brand</th>
                                    <th>Print Speed</th>
                                    <th>Resolution</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var imprimante in besion.Imprimantes)
                                {
                                    <tr>
                                        <td>@imprimante.Marsque</td>
                                        <td>@imprimante.Vitesse</td>
                                        <td>@imprimante.Resoluton</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
